header{
    font-weight: bolder;
    color: rgb(137, 137, 137);
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    padding: 20px;
    background-color: rgba(181, 255, 245, 0.685);
}

footer{
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    /* position:fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    color :rgb(181, 255, 245);
    background-color: rgba(164, 164, 164, 0.685);
    /* top: 0%; */
}

.flex-container .navbar {
    /*background-color:  rgba(205, 205, 205, 0.685);*//* just for reference of flex boxes, remove later*/
    margin: 10px;
  }

.flex-container div a{
    padding: 10px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
}

.flex-container .navbar :hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.dropdown{
    display: none;
}

.submenu:hover .dropdown {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    background:  rgba(182, 213, 198, 0.772);
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1;
} 

.dropdown div a{
    padding: 1px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
}

#navigate{
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 1;
}

body{
    margin:0%;
    width: 100vw;
}

/* Animation section*/

img{
    width: calc(100vw - 4px);
    border: 2px solid steelblue;
}

#sequence {
    background-repeat: no-repeat;
    background-size:contain;
    animation-name: imageplay;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    max-width: 100vw;
    height: 333px;
    display: flex;
    gap: 0px;
    flex-direction: row;
}

@keyframes imageplay{
    10%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    60%{
        transform: translateX(-200%);
    }
    70%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-300%);
    }
    90%{
        transform: translateX(-400%);
    }
    100%{
        transform: translateX(-400%);
    }
}


/* covid care and diabetes */

.product-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap
}
.product h3 {
    margin: 0px;
    padding: 0px;
}

.product {
    width: 200px;
    background: rgb(250, 234, 230);
    padding: 8px;
    margin: 10px;
    box-shadow: 10px 10px 5px lightblue;
}

.product button {
    width: 100%;
    color: 'orange';
    border: 1px solid blue;
    border-radius: 4px;
    background: rgb(251, 188, 172);
}

.product button:focus{
    background-color: rgb(250, 234, 230);
    border: 1px solid rgb(0, 255, 76);
}

.product img {
    width: 100%;
    border: none;
    height: 100px;
}

.product p {
    margin: 0px;
    padding: 0px;
}

.product:hover {
    box-shadow: 10px 10px 5px lightblue;
    width: 210px;
}
